<nav>
    <!-- <img src="__PUBLIC__/assets/images/logo0918.jpg" alt=""> -->
    <h1>WEB <br> DEVELOPER</h1>
    <ul class="clearfix">
        <li><a class="home" href="{:U('Home/Index/index')}">HOME</a></li>
        <li><a class="skill" href="{:U('Home/Index/skill')}">SKILL</a></li>
        <li><a class="resume" href="{:U('Home/Index/resume')}">RESUME</a></li>
        <li><a class="other" href="{:U('Home/Index/other')}">OTHER</a></li>
    </ul>
    <p>{$motto}</p>
</nav>
<div class="m-header">
    <h1>WEB DEVELOPER</h1>
    <ul>
        <li><a class="home" href="{:U('Home/Index/index')}">HOME</a></li>
        <li><a class="skill" href="{:U('Home/Index/skill')}">SKILL</a></li>
        <li><a class="resume" href="{:U('Home/Index/resume')}">RESUME</a></li>
        <li><a class="other" href="{:U('Home/Index/other')}">OTHER</a></li>
    </ul>
</div>