<include file="Public/header" />
</head>

<body class="home">
    <include file="Public/menu" />
    <section class="home-wrap">
        <div class="content-list clearfix">
            <a href="" class="img-box">
                <img src="http://t247.web.ueeshop.com/u_file/1808/photo/f988fc3f66.jpg" alt="">
            </a>
            <div>
                <p class="title">
                    <a href="">标题</a>
                </p>
                <p class="detail">
                    <span>2019-09-18</span>
                    <a href="">js</a>
                    <span>view: 1</span>
                </p>
                <p class="cont">content content content content content content contentcontent content content contentcontent content content content content content contentcontent content content contentcontent content content content content content contentcontent content content contentcontent content content content content content contentcontent content content contentcontent content content content content content contentcontent content content content</p>
            </div>
        </div>
        <div class="content-list clearfix">
            <a href="" class="img-box">
                <img src="http://t247.web.ueeshop.com/u_file/1808/photo/f988fc3f66.jpg" alt="">
            </a>
            <div>
                <p class="title">
                    <a href="">标题</a>
                </p>
                <p class="detail">
                    <span>2019-09-18</span>
                    <a href="">js</a>
                    <span>view: 1</span>
                </p>
                <p class="cont">content content content content content content contentcontent content content content</p>
            </div>
        </div>
        <div class="content-list clearfix">
            <a href="" class="img-box">
                <img src="http://t247.web.ueeshop.com/u_file/1808/photo/f988fc3f66.jpg" alt="">
            </a>
            <div>
                <p class="title">
                    <a href="">标题</a>
                </p>
                <p class="detail">
                    <span>2019-09-18</span>
                    <a href="">js</a>
                    <span>view: 1</span>
                </p>
                <p class="cont">content content content content content content contentcontent content content content</p>
            </div>
        </div>
        <div class="content-list clearfix">
            <a href="" class="img-box">
                <img src="http://t247.web.ueeshop.com/u_file/1808/photo/f988fc3f66.jpg" alt="">
            </a>
            <div>
                <p class="title">
                    <a href="">标题</a>
                </p>
                <p class="detail">
                    <span>2019-09-18</span>
                    <a href="">js</a>
                    <span>view: 1</span>
                </p>
                <p class="cont">content content content content content content contentcontent content content content</p>
            </div>
        </div>
        <div class="content-list clearfix">
                <a href="" class="img-box">
                    <img src="http://t247.web.ueeshop.com/u_file/1808/photo/f988fc3f66.jpg" alt="">
                </a>
                <div>
                    <p class="title">
                        <a href="">标题</a>
                    </p>
                    <p class="detail">
                        <span>2019-09-18</span>
                        <a href="">js</a>
                        <span>view: 1</span>
                    </p>
                    <p class="cont">content content content content content content contentcontent content content content</p>
                </div>
            </div>
    </section>

    <include file="Public/footer" />