body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear {
	clear: both;
}
.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
/* 以上为公共样式 */

body{
    font-family: '微软雅黑';
    // 页面公共样式************************************************************************************************************************
    nav{
        width: 17%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        h1{
            // font-size: 30px;
            font-weight: normal;
            color: #464646;
            margin-left: 13%;
            margin-top: 50px;
        }/* 
        img{
            display: block;
            width: 76%;
            margin: 0 auto;
            margin-top: 40px;
        } */
        ul{
            margin-top: 30px;
            li{
                a{
                    display: block;
                    height: 50px;
                    line-height: 50px;
                    box-sizing: border-box;
                    font-size: 16px;
                    color: #636363;
                    margin: 0 14%;
                    &:hover{
                        color: #bbb;
                    }
                }
            }
        }
        p{
            font-size: 12px;
            color: #bbb;
            margin: 0 7%;
            position: absolute;
            bottom: 10px;
            text-align: justify;
            text-justify: distribute-all-lines; // 这行必加，兼容ie浏览器
        }
    }
    .m-header{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 9999;
        h1{
            font-size: 1.6rem;
            color: #636363;
            height: 4.5rem;
            line-height: 4.5rem;
            padding-left: 5%;
        }
        ul{
            height: 2.1rem;
            line-height: 2.1rem;
            background: #bbb;
            li{
                float: left;
                a{
                    font-size: 0.8rem;
                    color: #fff;
                    padding-left: 1.2rem;
                    position: relative;
                }
            }
        }
    }
    .home-wrap, .resume-wrap, .skill-wrap, .other-wrap{
        float: right;
        width: 83%;
        .bread-nav{
            font-size: 14px;
            margin-top: 25px;
            a{
                color: #999;
                margin-right: 3px;
                &:after{
                    content: '>';
                    padding-left: 5px;
                }
                &:last-child:after{
                    content: '';
                }
            }
        }
    }
    //*************************************************************************************************************************************

    //首页样式
    .home-wrap, .skill-wrap .tab-cont{
        .content-list{
            margin: 30px 50px;
            padding: 20px 0;
            border-bottom: 1px solid #e5e5e5;
            .img-box{
                float: left;
                width: 20%;
                background: #ededed;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            div{
                float: left;
                width: 80%;
                p{
                    padding: 0 0 0 20px;
                    &.title{
                        font-size: 1.5rem;
                        a{
                            color: #555;
                            &:hover{
                                color: #333;
                            }
                        }
                    }
                    &.detail{
                        margin-top: 5px;
                        span, a{
                            font-size: .875rem;
                            color: #999;
                            margin-right: 15px;
                        }
                        a:hover{
                            color: #f00;
                        }
                    }
                    &.cont{
                        font-size: 1rem;
                        color: #999;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    //技能样式
    .skill-wrap{
        .tab-item{
            margin-top: 20px;
            li{
                float: left;
                padding-right: 25px;
                cursor: pointer;
                font-size: 16px;
                color: #636363;
                &:hover, &.act{
                    color: #bbb;
                }
            }
        }
        .content-wrap{
            width: 80%;
            margin-top: 30px;
            .cw-title{
                font-size: 16px;
                color: #636363;
            }
            .result-show{
                padding: 2% 0;
                font-size: 30px;
                font-weight: 900;
                color: #f00;
                text-shadow: 3px 0px 0px #ddd,-3px 0px 0px #ddd,0px 3px 0px #ddd,0px -3px 0px #ddd, 0px 6px 2px #636363;
            }
            .code-show{
                padding: 2% 0;
                background: #eee;
                font-size: 16px;
                color: #636363;
                .c-wrap{
                    padding-left: 2em;
                }
                .c-cont{
                    padding-left: 4em;
                }
            }
        }
    }
    //other页面样式
    .other-wrap{
        ul{
            background: #f5f5f5;
            padding: 3% 0;
            font-size: 0;
            text-align: center;
            li{
                display: inline-block;
                padding: 0 30px;
                font-size: 16px;
                color: #636363;
                cursor: pointer;
                &.act{
                    font-weight: 900;
                }
            }
        }
        .other-cont{
            text-align: center;
            .cont-box{
                display: none;
                &:first-child{
                    display: block;
                }
                p{
                    font-size: 15px;
                    color: #bbb;
                    padding: 1% 20%;
                    margin-top: 25px;
                }
            }
        }
    }

    // 媒体查询
    @media screen and (max-width: 960px) {
        //导航样式**********************************************************************************************
        nav{
            display: none;
        }  
        .m-header{
            display: block;
        }

        //首页样式**********************************************************************************************
        .home-wrap, .resume-wrap, .skill-wrap, .other-wrap{
            width: 100%;
            margin-top: 6.6rem;
            .bread-nav{
                display: none;
            }
        }

        .home-wrap, .skill-wrap .tab-cont{
            .content-list{
                margin: 30px 4%;
                padding-top: 0;
                .img-box{
                    width: 30%;
                }
                div{
                    width: 70%;
                    p{
                        padding-left: 5%;
                        &.title{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        //技能样式***********************************************************************************************
        .skill-wrap{
            .tab-item{
                li{
                    text-align: center;
                    width: 33%;
                    padding-right: 0;
                    margin-bottom: 8px;
                    font-size: 0.9rem;
                }
            }
        }
        
        //other页面样式********************************************************************************************
        .other-wrap{
            ul{
                padding: 5% 0;
            }
            .other-cont{
                .cont-box{
                    p{
                        font-size: 0.8rem;
                        color: #bbb;
                        padding: 3% 10%;
                        margin-top: 1.25rem;
                    }
                }
            }
        }
    }   
}

body.home nav ul li a.home, body.skill nav ul li a.skill, body.other nav ul li a.other, body.resume nav ul li a.resume{
    color: #bbb;
}
body.home div.m-header ul li a.home, body.skill div.m-header ul li a.skill, body.other div.m-header ul li a.other, body.resume div.m-header ul li a.resume{
    &:after{
        content: '';
        position: absolute;
        bottom: -7px;
        left: 50%;
        margin-left: 3px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
    }
}